@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.zoomIn {
  animation: btnZoomIn 1 1s;
}
@keyframes btnZoomIn {
  from {
    opacity: 0;
    transform: translateY(40px) ;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoomOut {
  animation: btnZoomOut 1 1s;
}
@keyframes btnZoomOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}
