@media (max-width: 1030px) {
  .landing-page header .container-landing{
    padding-top: 40px;
  }
  .landing-page header .container-landing .logo {
    padding: 10px 0;
  }
  .landing-page header ul li {
    padding: 10px 20px;
  }
  .landing-page-contain {
    display: block;
    position: relative;
  }
  .landing-page-contain .left {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .landing-page-contain .slider {
    padding-left: 0;
    height: 100%;
  }
  .landing-page-contain .slider img {
    clip-path: none;
    width: 100%;
  }
  .slider > i {
    top: 50%;
  }
  .arr-left {
    left: 20px;
  }
  .landing-page-contain .left p {
    color: #000;
  }
  .landing-page-contain .left span {
    display: none;
  }
  .overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: 0.5;
  }
}
@media (max-width: 929px) {
  .landing-page header .container-landing{
    padding-top: 0px;
  }
  .links {
    display: block;
  }
  .landing-page header ul {
    position: absolute;
    background-color: #fff;
    top: 63px;
    right: 10%;
    z-index: 2;
  }
  .landing-page header ul::before {
    content: "";
    border-color: #469c70 transparent transparent transparent;
    border-style: solid;
    border-width: 15px 12px 15px 15px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
  }
  .landing-page header ul li {
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
    background-color: #469c70;
  }
  .landing-page header ul li a {
    color: #fff;
  }
  .landing-page header .links ul li:hover > a,
  .landing-page header .links ul li:hover > a i {
    color: #fff;
  }
  .links ul li ul {
    position: absolute;
    left: -120px;
    top: 5px;
    width: 120px;
    overflow: hidden;
  }

  .links .fa-bars {
    display: block;
    margin: auto;
    top: 15px;
  }
  .showhide {
    display: none !important;
  }
  .links button {
    position: relative;
    right: 50px;
  }
  .flight .container > h1 {
    font-size: 30px;
  }
  .flight .box {
    display: block;
  }
  .flight .box:first-of-type {
    border-bottom: 1px solid #999;
  }
  .flight .box .imgs {
    margin-bottom: 20px;
    width: 100%;
  }
  .flight .box .imgs .circle {
    width: 20%;
    height: 30%;
    left: 0;
  }
  .flight .box .imgs .square {
    margin-right: 0%;
    margin-left: 10%;
    width: 80%;
  }
  .flight .box .box-content {
    width: 100%;
    margin: auto;
  }
  .jumpstarted h1 {
    font-size: 40px;
  }
  .jumpstarted h1 span::before {
    display: none;
  }
  .customers .card-containr,
  .customers .card-containr2 {
    display: block;
    width: 70%;
    margin: auto;
  }
  .customers .card:first-child {
    margin-right: 0;
  }
  .customers .container > .card {
    width: 70%;
    margin: auto;
  }
  .end-footer .foot-container {
    display: block;
  }
  .end-footer footer {
    display: block;
  }
  .end-footer ul li {
    display: inline-block;
    padding-right: 10px;
  }
  .end-footer footer .icons {
    text-align: center;
    padding-top: 10px;
  }
}
@media (max-width: 600px) {
  .slider > i {
    padding: 10px;
  }
  .landing-page-contain .left button {
    padding: 10px;
    font-size: 16px;
  }
  .customers h1 {
    font-size: 35px;
  }
  .jumpstarted {
    margin-bottom: 0;
  }
  .jumpstarted .card-container {
    display: block;
  }
  .jumpstarted .card {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  .jumpstarted .card:last-of-type {
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .features {
    clip-path: ellipse(190% 90% at 50% 100%);
  }
  .features .features-card-container {
    display: block;
  }
  .jumpstarted h1 {
    font-size: 30px;
  }
  .launch h1 {
    font-size: 30px;
  }
  .jumpstarted .card {
    width: 90%;
  }
  .articals .artic {
    display: block;
    border: 1px solid #999;
    margin-bottom: 20px;
  }
  .end-footer .foot-container {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .customers h1 {
    font-size: 25px;
  }
  .customers .card{
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  .launch h1 {
    font-size: 25px;
  }
  .landing-page-contain .left h1 {
    font-size: 30px;
  }
  .landing-page header button {
    display: none;
  }
}
@media (max-width: 395px) {
  .news .news-containt input {
    width: 100%;
  }
  .news .news-containt button {
    margin-top: 10px;
    width: 100%;
  }
}
