* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  --o-box-sizing: border-box;
  box-sizing: border-box;
  --webkit-margin: 0;
  --moz-margin: 0;
  --o-margin: 0;
  margin: 0;
  --webkit-padding: 0;
  --moz-padding: 0;
  --o-padding: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #469c70;
  --second-color : #666;
  --third-color : #FFF;
}
.container {
  width: 80%;
  margin: auto;
}
.landing-page {
  height: 100vh;
}
.links .fa-bars {
  position: absolute;
  right: 10%;
  top: 2%;
  color: var(--main-color);
  display: none;
  cursor: pointer;
}
.landing-page header .container-landing {
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 1000;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #eee;
}
.landing-page header .container-landing .logo {
  padding: 20px 0;
}
.landing-page header ul {
  display: inline-block;
  list-style: none;
  animation: dropdown 1s 1;
}
.landing-page header ul li {
  display: inline-block;
  padding: 20px 30px;
}
.landing-page header ul li > a {
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
}
.landing-page header .links ul li:hover > a {
  color: var(--main-color);
  cursor: pointer;
  transition: 0.5s;
}
.landing-page header .links ul li:hover > a i {
  transform: rotateZ(180deg);
  transition: 0.5s;
  color: var(--main-color);
}
.landing-page header ul li:hover ul {
  display: block;
  animation: dropdown 1s 1;
}
.landing-page header ul li ul {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  margin-top: 5px;
}
.landing-page header ul li ul li {
  display: block;
  padding: 10px;
  width: 120px;
  border-bottom: 1px solid var(--second-color);
  color: var(--third-color);
}
.landing-page header ul li ul li > a {
  color: var(--third-color);
}
.landing-page header .links ul li > ul > li:hover > a {
  color: var(--second-color);
  transition: 0.5s;
}
.landing-page header button {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: var(--main-color);
  font-size: 16px;
  color: var(--third-color);
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}
.landing-page-contain {
  position: absolute;
  top: 10vh;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 90vh;
}
.landing-page-contain .container {
  width: 50%;
  padding-left: 10%;
}
.landing-page-contain .left h1 {
  font-size: 45px;
  padding-bottom: 20px;
  position: relative;
  z-index: 3;
}
.landing-page-contain .left span {
  content: "";
  width: 210px;
  height: 15px;
  display: block;
  background-color: #ff8800;
  opacity: 0.5;
  position: relative;
  top: 45px;
  z-index: 1;
}
.landing-page-contain .left p {
  line-height: 1.5;
  color: var(--second-color);
  margin-bottom: 30px;
}
.landing-page-contain .left button {
  padding: 20px;
  border-radius: 40px;
  border: 1px solid var(--main-color);
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
  background-color: var(--third-color);
  cursor: pointer;
  margin-bottom: 10px;
}
.landing-page-contain .left button:first-of-type {
  background-color: var(--main-color);
  color: var(--third-color);
}
.landing-page-contain .slider {
  width: 100%;
  position: relative;
  padding-left: 100px;
}

.landing-page-contain .slider img {
  height: 90vh;
  clip-path: circle(100% at 90%);
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.landing-page-contain .slider img.active {
  opacity: 1;
  transition: opacity 1s;
}
.slider > i {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 45%;
  font-size: 20px;
  z-index: 4;
  cursor: pointer;
  color: #444;
}
.slider > i:hover {
  color: var(--third-color);
  transition: 1s;
}
.arr-left {
  left: 170px;
}
.arr-right {
  right: 20px;
}
.slider > i.arr-left.disabled,
.slider > i.arr-right.disabled {
  cursor: no-drop;
  background-color: #f00;
  opacity: 0.4;
}
/*End Landing page*/
/*Start To Top Button*/
#toTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  background-color: var(--third-color);
  cursor: pointer;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 1000;
}
#toTop:hover,
#toTop:focus {
  background-color: var(--main-color);
  color: var(--third-color);
}
/*End To Top Butoon*/
/*Start flight */
.flight {
  background-color: #eee;
  padding: 50px 0;
  margin-bottom: 80px;
  clip-path: ellipse(190% 100% at 50% 0%);
}
.flight .container > h1 {
  text-align: center;
  font-size: 50px;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}
.flight .container > p {
  width: 60%;
  line-height: 1.5;
  color: var(--second-color);
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}
.flight .box {
  display: flex;
  gap: 10%;
  margin-bottom: 90px;
}
.flight .box .imgs {
  flex: 1;
  width: 50%;
  position: relative;
}
.flight .box .imgs .square {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-left: 10%;
}
.flight .box .imgs .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--third-color);
  position: absolute;
  top: 10%;
}
.flight .box .box-content {
  flex: 1;
  width: 50%;
}
.flight .box .box-content h2 {
  padding-bottom: 30px;
  font-size: 30px;
}
.flight .box .box-content p {
  color: var(--second-color);
  line-height: 1.5;
  padding-bottom: 30px;
}
.flight .box .box-content .select li {
  position: relative;
  padding: 20px;
  width: 90%;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  list-style: none;
}
.flight .box .box-content .select li .option {
  display: none;
}
.flight .box .box-content .box-card {
  display: flex;
  margin-bottom: 30px;
}
.flight .box .box-content .num span {
  display: inline-block;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  flex: 1;
  margin-right: 30px;
  color: var(--third-color);
}
.flight .box .box-content .box-card .content {
  flex: 1;
}
.flight .box .box-content .box-card .content h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.flight .box .box-content .box-card .content p {
  color: var(--second-color);
  padding-bottom: 10px;
}
.flight .box .box-content .box-card .content a {
  text-decoration: none;
  color: var(--main-color);
}
/*End Flight */

/*Start jumpstarted*/

.jumpstarted {
  margin: 80px 0;
}
.jumpstarted h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.jumpstarted h1 span::before {
  display: inline-block;
  content: "";
  background-color: #ff8800;
  height: 25px;
  width: 295px;
  position: absolute;
  opacity: 0.5;
  bottom: -1px;
  z-index: -1;
}
.jumpstarted .container > p {
  line-height: 1.5;
  color: var(--second-color);
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 80px;
}
.jumpstarted .card-container {
  display: flex;
}
.jumpstarted .card {
  flex: 1;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
}
.jumpstarted .img-up {
  overflow: hidden;
}
.jumpstarted img {
  width: 100%;
}
.jumpstarted .card-contain {
  padding: 20px;
}
.jumpstarted .card-contain h2 {
  margin-bottom: 10px;
}
.jumpstarted .card-contain p {
  line-height: 1.5;
  color: var(--second-color);
  padding-bottom: 10px;
}
.jumpstarted .card-contain a {
  text-decoration: none;
  color: var(--main-color);
}

/*end jumpstarted*/

/*Start Features*/

.features {
  background-color: #182d35;
  color: #ddd;
  padding: 80px 0;
  clip-path: ellipse(100% 90% at 50% 100%);
}
.features h1 {
  padding: 120px 0 20px 0;
  text-align: center;
  font-size: 40px;
}
.features .container > p {
  line-height: 1.5;
  padding: 20px 0 50px;
  width: 70%;
  margin: auto;
  text-align: center;
}
.features .features-card-container {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.features .features-card {
  flex: 1;
  padding: 20px;
  background-color: #25383f;
  border-radius: 5px;
  margin-bottom: 20px;
}
.features .features-card h3 {
  padding-bottom: 20px;
}
.features .features-card p {
  line-height: 1.4;
  padding-bottom: 10px;
  font-size: 16px;
}
.features .features-card a {
  color: var(--main-color);
  text-decoration: none;
}

/*End Features*/
/*Start customers */
.customers {
  padding: 60px 0;
  background-color: var(--main-color);
}
.customers h1 {
  padding: 20px 0;
  text-align: center;
  color: var(--third-color);
  font-size: 50px;
}
.customers .container > p {
  width: 65%;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
  color: var(--third-color);
}
.customers .card-containr,
.customers .card-containr2 {
  display: flex;
  width: 70%;
  margin: auto;
}
.customers .card-containr2 {
  width: 80%;
}
.customers .card {
  background-color: var(--third-color);
  border-radius: 5px;
  flex: 1;
  display: flex;
  margin-bottom: 20px;
}
.customers .card:first-child {
  margin-right: 20px;
}
.customers .card img {
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.customers .card q {
  display: block;
  align-self: center;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.customers .card q span {
  content: "";
  display: inline-block;
  background-color: rgba(255, 136, 0, 0.4);
}
.customers .container > .card {
  width: 45%;
  margin: auto;
  margin-bottom: 30px;
}
/*End customers*/
/*Start Lunch*/
.color {
  background-color: #182d35;
}
.launch {
  background-color: var(--third-color);
  padding: 100px 0;
  text-align: center;
  clip-path: ellipse(90% 100% at 50% 0%);
}
.launch h1 {
  font-size: 50px;
}
.launch p {
  color: var(--second-color)6;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}
.launch button {
  padding: 20px;
  border-radius: 40px;
  border: none;
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 20px;
  margin-top: 40px;
  cursor: pointer;
}

/*End Lunch*/
/*Start Footer*/

.end-footer {
  background-color: #182d35;
  padding: 140px 0 0 0;
}

.end-footer ul {
  list-style: none;
}
.end-footer a {
  text-decoration: none;
  color: #ddd;
}
.end-footer ul li {
  padding: 10px 0;
}
.end-footer a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
.end-footer h2 {
  color: var(--third-color);
  padding: 20px 0;
}
.end-footer .foot-container {
  display: flex;
}
.end-footer .demos {
  flex: 1;
}
.end-footer .pages {
  flex: 1;
}
.end-footer .articals {
  flex: 2;
  margin-right: 30px;
}
.end-footer .news {
  flex: 2;
}
.articals .artic {
  display: flex;
}
.articals .artic img {
  flex: 1;
  width: 150px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.articals .artic .artic-content {
  flex: 2;
}
.articals .artic .artic-content h4 {
  padding-bottom: 15px;
  color: #eee;
}
.articals .artic .artic-content span {
  color: #999;
}
.news .news-containt {
  padding: 30px 20px;
  background-color: #25383f;
  border-radius: 5px;
}
.news .news-containt p {
  display: block;
  font-size: 16px;
  color: var(--third-color);
  padding-bottom: 20px;
}
.news .news-containt input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  width: 70%;
}
.news .news-containt button {
  font-size: 16px;
  background-color: var(--main-color);
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
}
.news .news-containt span {
  display: block;
  color: #999;
  padding: 20px 0;
}
.end-footer footer {
  margin-top: 60px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}
.end-footer footer p {
  color: #999;
}
.end-footer footer a {
  color: var(--third-color);
  font-weight: bold;
}
.end-footer footer .icons i {
  padding-left: 20px;
  color: var(--third-color);
  font-size: 20px;
  cursor: pointer;
}
.end-footer footer .icons i:hover {
  color: var(--main-color);
  transition: 0.5s;
}
/*End Footer*/

/*   clip-path: ellipse(100% 100% at 50% 0%); */
